.btn {
	text-decoration: none;
	border: none;
	background-color: $mainBlue;
	color: #fff;
	padding: 0.75em 1.2em;
	display: inline-block;

	&--orange {
		background-color: $mainOrange;
	}

	&--large {
		@mixin atSmall {
			font-size: 1.25rem;
		}
	}
}
