.feature-item {
	position: relative;
	padding-bottom: 3em;

	@mixin atSmall {
		padding-left: 94px;
	}

	&__icon {
		display: block;
		margin: 0 auto;

		@mixin atSmall {
			position: absolute;
			left: 0;
		}
	}

	&__title {
		font-weight: 300;
		font-size: 1.6rem;
		margin-top: 0.7em;
		margin-bottom: 0.5em;
		text-align: center;

		@mixin atSmall {
			font-size: 1.875rem;
			margin-top: 1em;
			text-align: left;
		}
	}
}
