.primary-nav {
	& ul {
		padding: 0;
		display: flex;
	}

	& li {
		list-style: none;
		padding-right: 1.25em;

		&:last-child {
			padding-right: 0;

			@mixin atMedium {
				padding-right: 1.25em;
			}
		}
	}

	& a {
		color: #fff;
		text-decoration: none;
		font-weight: 300;
		padding: 0.4em 0.8em;
		font-size: 0.8rem;
		background-color: rgba($mainBlue, 0.5);

		@mixin atMedium {
			font-size: 1rem;
			padding-top: 1em;
			background-color: transparent;

			&.is-current-link {
				color: $mainOrange;
			}
		}
	}

	&--right {
		margin-left: auto;
	}
}
