.row {
	@mixin clearFix;

	&--pt {
		padding-top: 80px;
	}

	&--gutters {
		margin-right: -4em;

		& > div {
			padding-right: 4em;
		}

		&-s {
			margin-right: -2.8em;

			& > div {
				padding-right: 2.8em;
			}
		}

		&-l {
			margin-right: -6.25em;

			& > div {
				padding-right: 6.25em;
			}
		}
	}

	&__small--mb-m {
		margin-bottom: 1em;
	}

	&--max-w {
		& > div {
			max-width: 800px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	@mixin atMedium {
		&--mb-til-m {
			margin-bottom: 0em;
		}

		&__medium-4 {
			float: left;
			width: 33.33%;

			&--larger {
				width: 37%;
			}
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;

			&--smaller {
				width: 63%;
			}
		}
	}

	@mixin atLarge {
		&--mb-til-l {
			margin-bottom: 0em;
		}

		&__large-4 {
			float: left;
			width: 33.33%;

			&--larger {
				width: 37%;
			}
		}

		&__large-6 {
			float: left;
			width: 50%;
		}

		&__large-8 {
			float: left;
			width: 66.66%;

			&--smaller {
				width: 63%;
			}
		}
	}

	&--flex-l {
		@mixin atLarge {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}
}
